*.DS_Store
*~
.idea/
*.zxp
temp/
project/mac/lib/release/PixiAnimate.fcm.plugin.dSYM
project/mac/PixiAnimate.mp.xcodeproj/xcuserdata/
project/mac/PixiAnimate.mp.xcodeproj/project.xcworkspace/xcuserdata/
node_modules
project/mac/build
com.jibo.PixiAnimate
*.user
*.db
*.opendb
*.suo
src/ThirdParty/libjson_7.6.1/libjson/Debug/
project/win/pixi-animate-vs2015/x64/*/*.lib
project/win/pixi-animate-vs2015/x64/*/*.pdb
project/win/pixi-animate-vs2015/x64/*/*.exp
project/win/pixi-animate-vs2015/pixi-animate-vs2015/x64/*/*.idb
project/win/pixi-animate-vs2015/.vs
*.obj
*.tlog
*.log
*.iobj
*.pdb
*.ilk
*.ipdb
*.map
*.fullpdb
*.res
src/PixiAnimate/lib/win32/PixiAnimate.fcm.plugin
tests/
