*.DS_Store
*~
.idea/
dist/
temp/
src/PixiJSPlugin/lib/
src/project/mac/build/
src/project/mac/PixiJSPlugin.mp.xcodeproj/xcuserdata/
src/project/mac/PixiJSPlugin.mp.xcodeproj/project.xcworkspace/xcuserdata/
