<!DOCTYPE html>
<html>
    <head>
        <script src="${runtime}/vendor/pixi.min.js"></script>
        <script src="${runtime}/vendor/tweenjs-0.6.0.min.js"></script>
        <script src="${runtime}/vendor/pixi-flash.min.js"></script>
        <script src="${runtime}/html/resourcemanager.js"></script>
        <script src="${runtime}/html/utils.js"></script>
        <script src="${runtime}/html/timelineanimator.js"></script>
        <script src="${runtime}/html/player.js"></script>
    </head>
    <body>
        <canvas id="canvas" width="${width}" height="${height}"></canvas>
        <script>
           
            var loader = PIXI.loader;
            loader.add('Bpic', "${runtime}/images/B.png");
            loader.add('PublishData', "${publishData}");
            loader.once("complete", handleComplete);
            loader.load();
            
            function handleComplete(loader, args) {
                var canvas = document.getElementById("canvas");
                var stage = new pixiflash.Container();
                var renderer = new PIXI.autoDetectRenderer(
                    canvas.width,
                    canvas.height, {
                        view: document.getElementById("canvas"),
                        background: 0x${background},
                        transparent: false,
                        antialias: true
                    }
                );

                //pass FPS and use that in the player
                init(stage, renderer, args.PublishData.data, ${fps});
            }
        </script>
    </body>
</html>