<!DOCTYPE html>
<html> 
    <head> 
        <script src="${runtime}/vendor/tweenjs-0.6.0.min.js"> </script> 
    </head> 
    <body> 
        <canvas id="canvas" width="${width}" height="${height}"></canvas>
        <script> 

            require('node_modules/babel/register'); 
            
            var PIXI = require('${runtime}/vendor/pixi.min');
            var Player = require('${runtime}/electron/player');

            var loader = PIXI.loader;
            loader.add('PublishData', "${publishData}");
            loader.once("complete", handleComplete);
            loader.load();

            function handleComplete(loader, args) {
                var canvas = document.getElementById("canvas");
                var stage = new PIXI.Container();
                var renderer = new PIXI.autoDetectRenderer(
                    canvas.width, 
                    canvas.height, {
                        view: document.getElementById("canvas"),
                        background: 0x${background},
                        transparent: false,
                        antialias: true
                    }
                );

                //pass FPS and use that in the player
                var player = new Player(stage, renderer, args.PublishData.data, ${fps});
                player.play();
            }
        </script> 
    </body> 
</html>